<template>
    <div class="content">
        <div class="pageTitle">
            <NuxtLink to="/bands">
                <img class="back-arrow showing"
                    src='data:image/svg+xml;utf8,<svg width="92" height="78" viewBox="0 0 92 78" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M41.7427 76.8104C43.3262 75.2222 43.3262 72.6485 41.7427 71.0617L13.8276 43.0598L87.9468 43.0598C90.1848 43.0598 92 41.2377 92 38.9944C92 36.7497 90.1833 34.929 87.9468 34.929L50.898 34.929L13.8493 34.929L41.7503 6.93985C43.3338 5.35166 43.3338 2.77788 41.7503 1.19114C40.1669 -0.39705 37.6008 -0.39705 36.0188 1.19114L1.25966 36.0591C0.848257 36.4533 0.520247 36.9312 0.301131 37.4672C0.285582 37.5083 0.277098 37.548 0.262961 37.5906C0.188032 37.7933 0.12158 37.9975 0.0763381 38.2145C0.0395872 38.396 0.0339262 38.5804 0.0240309 38.7633C0.0183775 38.8398 -1.70097e-06 38.9136 -1.70444e-06 38.993L-1.70469e-06 38.9987L-1.70493e-06 39.0043C-1.71665e-06 39.2723 0.0310957 39.5432 0.0805799 39.8069C0.0862409 39.8353 0.0989591 39.8594 0.10462 39.8878C0.267203 40.6152 0.622069 41.3115 1.18758 41.8773L36.0119 76.8062C37.5953 78.3972 40.1585 78.3972 41.7419 76.8105L41.7427 76.8104Z" fill="white"/></svg>'
                    alt="">
            </NuxtLink>
            <h1>Bands</h1>
        </div>
        <div class="bands bands-detail-page">
            <div class="band-item active">
                <div class="desktop-wrap">
                    <div class="band-hero-wrap band-detail-grid-left">
                        <h2 class="band-name">
                            {{ band[0].Bandname }}
                        </h2>
                        <div class="band-hero" :style='{backgroundImage:`url(https://lukemusic.world${band[0].Bandfoto.path})`}'>
                        </div>
                        <div class="band-details">
                            <ul class="band-links" :class="cleanMusicLinks">
                                <li class="band-link-item" v-for="(value, name) in cleanMusicLinks">
                                    <NuxtLink :to="value" target="_blank">
                                        <img src="https://johnnyvetterli.com/2022/lukemusicworld/demo/img/Apple_Music_Icon_wht_sm_073120.svg" :alt="name" v-if="name == 'AppleMusic'">
                                        <img src="https://johnnyvetterli.com/2022/lukemusicworld/demo/img/Spotify_Logo_CMYK_White.png" :alt="name" v-else-if="name == 'Spotify'">
                                        <img src="https://johnnyvetterli.com/2022/lukemusicworld/demo/img/yt_icon_mono_dark.png" :alt="name" v-else-if="name == 'Youtube'">
                                        <img src="https://johnnyvetterli.com/2022/lukemusicworld/demo/img/sc-logo-cloud-raven.svg" :alt="name" v-else-if="name == 'SoundCloud'">
                                    </NuxtLink>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="band-details band-detail-grid-right">
                        <p class="band-description">{{ bandObj.Beschreibung }}</p>
                        <!-- <p class="band-description" 
                            style="max-width: 80vw; font-family: monospace; text-align: left; line-break: anywhere; padding-right: 0px;">
                            {{ cleanMusicLinks }}
                        </p>
                        <p class="band-description" 
                            style="max-width: 80vw; font-family: monospace; text-align: left; line-break: anywhere; padding-right: 0px;">
                            {{ bandObj.MusicLinks }}
                        </p> -->
                        <h3 v-if="bandObj.PreviewSongInfo.Song">Have a listen</h3>
                        <p class="band-preview-song-title" v-if="bandObj.PreviewSongInfo.Song">{{bandObj.PreviewSongInfo.Title}}</p>
                        <audio class="band-preview-song" v-if="bandObj.PreviewSongInfo.Song" controls :src="baseURL+bandObj.PreviewSongInfo.Song"  x-webkit-airplay="deny" disableremoteplayback="true" volume="0.2" controlsList="nodownload nofullscreen noremoteplayback">
                                Your browser does not support the
                                <code>audio</code> element.
                        </audio>
                    </div>
                    <div class="band-details band-detail-grid-bottom">
                        <h3 v-if="albumsArray.length">Albums</h3>
                        <!-- <p class="band-description" 
                            style="max-width: 80vw; font-family: monospace; text-align: left; line-break: anywhere; padding-right: 0px;">
                            {{ albums }}
                        </p> -->
                        <div class="band-albums" v-if="albumsArray.length">
                            <!-- to make band-gallery scrollable in the future add the class in the script: static/js/draggableOnDesktop.js  -->
                            <div class="band-album-item" v-for="album in albumsArray">
                                <p class="album-title" :class="[album.AlbumTitle.length > 30 ? 'long' : '']">{{ album.AlbumTitle }}</p>
                                <!-- <img :src="`https://lukemusic.world${album.AlbumImage.path}`" alt="" class="album-image"> -->
                                <div :style='{backgroundImage:`url(https://lukemusic.world${album.AlbumImage.path})`}' alt="" class="album-image"></div>
                            </div>
                            <!-- <div class="band-album-item">
                                <p class="album-title">Heelflip Through Space</p>
                                <img src="https://johnnyvetterli.com/2022/lukemusicworld/demo/img/heelflipThroughSpace.jpg"
                                    alt="" class="album-image">
                            </div>
                            <div class="band-album-item">
                                <p class="album-title">Heelflip Through Space</p>
                                <img src="https://johnnyvetterli.com/2022/lukemusicworld/demo/img/heelflipThroughSpace.jpg"
                                    alt="" class="album-image">
                            </div> -->
                        </div>
                        <h3 v-if="bandObj.PhotoGallery">Photos</h3>
                        <div class="band-gallery" v-if="bandObj.PhotoGallery">
                            <div class="band-gallery-item" v-for="photoGalleryItem in bandObj.PhotoGallery">
                                <img :src="`https://lukemusic.world${photoGalleryItem.path}`" alt="" class="gallery-image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script setup>

let baseURL = "https://lukemusic.world/"
const route = useRoute();
const { data: band } = await useFetch("https://lukemusic.world/admin/api/collections/get/Bands?simple=true&filter[BotFriendlyName]=" + route.params.BotFriendlyName);
// console.log(band.value.flat(1));
let bandObj = band.value[0]
let streamingPlatforms = bandObj.MusicLinks


// https://stackoverflow.com/questions/286141/remove-blank-attributes-from-an-object-in-javascript
function removeEmpty(bandObj) {
    return Object.fromEntries(
        Object.entries(bandObj)
      .filter(([_, v]) => v != null)
      .map(([k, v]) => [k, v === Object(v) ? removeEmpty(v) : v])
  );
  
}
removeEmpty(bandObj);
console.log(bandObj)

let cleanMusicLinks = Object.fromEntries(Object.entries(streamingPlatforms).filter(([_, v]) => v != null));


let bandID = bandObj._id
console.log(bandID);
const { data: albums } = await useFetch("https://lukemusic.world/admin/api/collections/get/Albums?simple=true&filter[IsActive]=true&filter[Band._id]=" + bandID);
let albumsArray = albums.value
console.log(albums);
console.log(albumsArray);
// console.log(streamingPlatforms)

// const words = [[{
// 	"things": {
//     	"thingA": null,
//       	"thingB": "asdf",
//       	"thingC": {
//         	"Link1": "goog.le",
//           	"Link2": "youtu.be"
//         }
//     }
// }]];


// //remove parent arrays
// function flattenDeep(words) {
//     return words.reduce((accu, val) => Array.isArray(val) ? accu.concat(flattenDeep(val)):accu.concat(val), []);
// }

// //... spreads the array into an object
// console.log({...flattenDeep(words)});

    definePageMeta({
        title: "Bands",
        description: "Check out all of Lukes Projects"
    })


    useHead({
        script: { src: '/js/draggableOnDesktop.js', async: true, defer: true }
    })
</script>
<script>
// export default {
//     head() {
//       return {
//         script: [
//           {
//             src: '/js/draggableOnDesktop.js',
//             defer: true,
//             async: true
//           }
//         ],
//       }
//     }
// }
</script>