<template>
    <div class="content">
        <div class="pageTitle">
            <h1>Bands</h1>
        </div>
        <div class="bands">
            <div class="band-item" v-for="band in data.entries" :key="band.BotFriendlyName">
                <NuxtLink :to="`/bands/${band.BotFriendlyName}`">
                    <h2 class="band-name">
                        {{ band.Bandname }}
                    </h2>
                    <div class="band-hero"
                        :style='{backgroundImage:`url(https://lukemusic.world${band.Bandfoto.path})`}'>
                    </div>
                </NuxtLink>
            </div>
        </div>
    </div>
</template>
<script setup>
    const {
        data
    } = await useFetch("https://lukemusic.world/admin/api/collections/get/Bands");

    definePageMeta({
        title: 'Bands',
        description: "Check out all of Lukes Projects"
    })
</script>