<template>
    <NuxtLayout>
        <Head>
            <Title>{{ route.meta.title }} | Luke Music World</Title>
             <Meta name="description" :content="`${route.meta.description}`" />
        </Head>
        <div id="app">
            <div class="container">
                <Header />
                <NuxtPage />
                <div hidden id="snipcart" data-api-key="YjIyMThkMzQtMDY5NS00OTVkLTg0ZDQtMGE5MWVkYzg5YTJlNjM3ODQwNTQyNTMzNTU4NTg3"></div>
            </div>
            <Navigation />
        </div>
    </NuxtLayout>
</template>
<style>
    .page-enter-from {
        transform: scale(0.92);
    }

    .page-enter-active,
    .page-leave-active {
    transition-property: opacity, transform;
    transition-timing-function: ease-in-out;
    transition-duration: 300ms;
    }

    .page-enter,
    .page-leave-to {
        opacity: 0;
    }

    .band-enter-active,
    .band-leave-active {
        transition: all 0.5s ease;
    }
    .band-enter-from,
    .band-leave-to {
        opacity: 0;
        transform: translateY(30px);
    }

    @font-face {
        font-family: CentraNo1-Light;
        src: url(https://johnnyvetterli.com/2022/lukemusicworld/fonts/CentraNo1-Light.woff);
    }

    @font-face {
        font-family: CentraNo2-Medium;
        src: url(https://johnnyvetterli.com/2022/lukemusicworld/fonts/CentraNo2-Medium.woff);
    }

    @font-face {
        font-family: CentraNo2-Book;
        src: url(https://johnnyvetterli.com/2022/lukemusicworld/fonts/CentraNo2-Book.woff);
    }

    * {
        -webkit-tap-highlight-color: transparent;
    }

    html,
    body {
        padding: 0px;
        margin: 0px;
        background-color: #0E0E0E;
        color: #fff;
        font-family: CentraNo1-Light;
    }

    .container {
        display: flex;
        height: auto;
        align-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .container .header {
        display: flex;
        width: auto;
    }

    .container .header img#logo {
        width: clamp(100px, 37vw, 180px);
        padding: 30px;
        aspect-ratio: 510 / 287;
        height: auto;
    }

    /*   @media only screen and (orientation: landscape) {
    .container .header img#logo { 
        height: min(33vh, 200px);
    }
  } */

    /* shop button styles */

    .cart-button {
        position: absolute;
        right: 30px;
    }

    .cart-button svg, .cart-button img  {
        width: 7vw;
        max-width: 60px;
        aspect-ratio: 1;
        height: auto;
    }

    button {
        border: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        cursor: pointer;
        background-color: transparent;
    }

    .snipcart-add-item {
        color: inherit;
        font-weight: inherit;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
        border: 1px solid;
        padding: 0.25em 0.5em;
        display: flex;
        margin-top: 0.5em;
        border-radius: 1.5vw;
    }

    .snipcart-base-button, button.snipcart-payment-methods-list-item__button, .snipcart-payment-form {
        border-radius: 1.5vw;
    }
    .snipcart-payment-methods-list-item__button {
        height: unset;
    }

    .snipcart-item-line {
        border-bottom: 1px solid hsl(0deg 0% 9%);
        margin-bottom: 1em;
    }

    .snipcart .snipcart-empty-cart button.snipcart-button-secondary:hover * {
        color: #0e0e0e;
    }

    .snipcart-add-item:hover {
        background-color: #fff;
        color: #0e0e0e;
    }

    /* end shop button styles */

    /* cart style override */

    .snipcart-modal__container, .snipcart-layout.snipcart-modal, .snipcart-cart-header, .snipcart-cart__content, .snipcart-item-line, .snipcart-item-quantity__quantity, .snipcart-featured-payment-methods__title, .snipcart-featured-payment-methods__title, .snipcart-cart--edit .snipcart-cart__content, .snipcart-cart--edit .snipcart-item-list, .snipcart-cart--edit .snipcart-cart__footer, .snipcart-item-quantity__quantity:focus-within {
        background-color: #0E0E0E;
    }

    .snipcart * {
        font-size: 4.375vw;
        color: #fff;
        background-color: transparent;
        font-family: CentraNo1-Light;
    }

    .snipcart-form__address-autocomplete .snipcart-typeahead__suggestions {
        background-color: #0E0E0E;
    }

    .snipcart-featured-payment-methods__title {
        background-color: #0E0E0E;
    }

    .snipcart-item-line__container, .snipcart-cart-header, .snipcart-item-line__container, .snipcart-item-line__container, .snipcart-cart__footer, .snipcart-layout__col, .snipcart__box , .snipcart-cart-summary__content {
        padding: 0;
        margin: 0;
    }

    .snipcart-cart-header, .snipcart-checkout-step {
        margin-bottom: 60px;
        margin-top: 30px;
        /* padding-bottom: 30px; */
    }
    
    .snipcart__box--badge-highlight, .snipcart__box--badge {
        border-color: #fff;
    }

    .snipcart-input, .snipcart-form__select {
        border-radius: 1.5vw;
        padding-bottom: 0px;
        padding-top: 0px;
    }

    .snipcart-form__select:hover {
        color: #fff;
    }

    select.snipcart-form__select option {
        background-color: #0E0E0E;
    }

    .snipcart-input:hover, .snipcart-form__select:hover {
        background-color: transparent;
        border-color: #fff;
    }



    .snipcart-input:focus, .snipcart-form__select:focus,
    .snipcart-input:focus-visible, .snipcart-form__select:focus-visible,
    .snipcart-input:focus-within, .snipcart-form__select:focus-within {
        box-shadow: none;
        background-color: transparent!important;
        border-color: #fff;
    }

    .snipcart-input input.snipcart-input__input:-internal-autofill-selected,
    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus, 
    input:-webkit-autofill:active  {
        background-color: #0E0E0E!important;
        -webkit-box-shadow: 0 0 0 30px #0E0E0E inset !important;
        box-shadow: 0 0 0 30px #0E0E0E inset !important;
        -webkit-text-fill-color: #fff!important;
        caret-color: #fff!important;
        border-radius: 1em;
        /* border-color: transparent; */
    }

    .snipcart-checkbox+label:before, .snipcart-checkbox:hover+label:before {
        background-color: transparent;
        border: 2px solid;
        border-color: #adadad;
    }

    .snipcart__font--subtitle, .snipcart-order__details-title.snipcart__box--subtitle, .snipcart-billing-completed__header {
        margin-bottom: 15px;
    }



    .snipcart-order__details-title.snipcart__box--subtitle .snipcart__font--subtitle {
        margin-bottom: 0px;
    }

    .snipcart-layout.snipcart-modal {
        padding: 30px;
    }

    .snipcart-item-quantity__quantity {
        border-color: transparent;
    }

    .snipcart-item-quantity__quantity:hover {
        background-color: transparent;
        border-color: transparent;
    }

    .snipcart-item-quantity__quantity:focus-within, .snipcart-item-quantity__quantity:focus-visible {
        border-color: transparent;
        box-shadow: none;
        outline: none;
    }

    .snipcart-item-line__product button.snipcart-button-icon {
        background-color: transparent;
        border: 1px solid;
        border-color: #fff;
    }
    .snipcart-item-line__product button.snipcart-button-icon:hover {
        background-color: #fff;
        color: #0E0E0E;
    }

    .snipcart-item-line__product button.snipcart-button-icon:hover svg path {
        fill: #0E0E0E;
    }

    svg.snipcart-payment-methods-list-item__icon.snipcart__icon path {
        fill: #fff;
    }

    button.snipcart-payment-methods-list-item__button:hover {
        background-color: #fff;
    }

    button.snipcart-payment-methods-list-item__button:hover * {
        color: #0e0e0e;
    }

    button.snipcart-payment-methods-list-item__button:hover svg.snipcart-payment-methods-list-item__icon.snipcart__icon path {
        fill: #0e0e0e;
    }

    .snipcart-summary-fees__notice {
        font-size: 0.8em;
        padding-bottom: 10px;
    }

    .snipcart-button-primary, .snipcart-button-primary:active {
        background-color: transparent;
        border-color: #fff;
    }
    .snipcart-button-primary:active,
    .snipcart-button-primary:focus,
    .snipcart-button-primary:focus-visible {
        box-shadow:0 0 10px #fff;
    }

    .snipcart-button-primary:hover,
    .snipcart-button-primary:focus,
    .snipcart-button-primary:focus-visible {
        background-color: #fff;
        color: #0E0E0E;
    }

    .snipcart-button-primary:hover .snipcart-base-button__icon svg path,
    .snipcart-button-primary:focus .snipcart-base-button__icon svg path,
    .snipcart-button-primary:focus-visible .snipcart-base-button__icon svg path {
        fill: #0E0E0E;
    }

    .snipcart-button-primary:hover .snipcart-base-button__label,
    .snipcart-button-primary:focus .snipcart-base-button__label,
    .snipcart-button-primary:focus-visible .snipcart-base-button__label {
        color: #0E0E0E;
    }

    a.snipcart-featured-payment-methods__link {
        text-decoration: none;
    }

    svg.snipcart__icon--brand[title="Visa"] path {
        fill: #fff;
    }

    #snipcart-payment-form legend, #snipcart-payment-form label, #snipcart-payment-form p {
        color: #fff;
    }

    .snipcart-order__details-title, .snipcart-order__title {
        margin-top: 30px;
    }

    .snipcart-cart-summary-items-list {
        height: 100%;
        width: 100%;
        max-height: none;
        margin-bottom: 30px;
    }

    ul.snipcart-cart-summary-items-list.snipcart-scrollbar {
        overflow-y: inherit;
        overflow-x: inherit;
    }

    .snipcart-cart-summary-expanded-item--secondary {
        padding: 0 0 8px 0;
    }

    .snipcart-modal__container {
        background-color: #0E0E0E;
    }

    /* end cart style override */

    .container .content {
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 0 30px;
        /*  add 100px margin to bottom because of fixed nav  */
        margin-bottom: 160px;
    }

    .container .content .pageTitle {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: flex-start;
    }

    .container .content .pageTitle h1 {
        font-family: CentraNo2-Medium;
        font-weight: unset;
        /*   font-size: 43.6pt; */
        font-size: 14vw;
        margin: 0px;
        /*   margin-bottom: -24px; */
        position: relative;
        z-index: 8;
    }

    .container .content .intro-wrap {
        width: 100%;
    }

    /* .container .content .pageTitle.detail-view {} */

    .container .content .pageTitle.detail-view+.bands .band-item:not(.active) {
        display: none;
    }

    /* .pageTitle.detail-view h1:before {
    content: "";
    background-image: url('data:image/svg+xml;utf8,<svg width="92" height="78" viewBox="0 0 92 78" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M41.7427 76.8104C43.3262 75.2222 43.3262 72.6485 41.7427 71.0617L13.8276 43.0598L87.9468 43.0598C90.1848 43.0598 92 41.2377 92 38.9944C92 36.7497 90.1833 34.929 87.9468 34.929L50.898 34.929L13.8493 34.929L41.7503 6.93985C43.3338 5.35166 43.3338 2.77788 41.7503 1.19114C40.1669 -0.39705 37.6008 -0.39705 36.0188 1.19114L1.25966 36.0591C0.848257 36.4533 0.520247 36.9312 0.301131 37.4672C0.285582 37.5083 0.277098 37.548 0.262961 37.5906C0.188032 37.7933 0.12158 37.9975 0.0763381 38.2145C0.0395872 38.396 0.0339262 38.5804 0.0240309 38.7633C0.0183775 38.8398 -1.70097e-06 38.9136 -1.70444e-06 38.993L-1.70469e-06 38.9987L-1.70493e-06 39.0043C-1.71665e-06 39.2723 0.0310957 39.5432 0.0805799 39.8069C0.0862409 39.8353 0.0989591 39.8594 0.10462 39.8878C0.267203 40.6152 0.622069 41.3115 1.18758 41.8773L36.0119 76.8062C37.5953 78.3972 40.1585 78.3972 41.7419 76.8105L41.7427 76.8104Z" fill="white"/></svg>');
    display: inline-flex;
    width: 8.5vw;
    height: 8.5vw;
    background-position: center center;
    background-size: 8.5vw;
    background-repeat: no-repeat;
    margin-right: 4.25vw;
} */

    .container .content .back-arrow {
        width: 8.5vw;
        height: 8.5vw;
        margin-right: 4.25vw;
        display: inline-flex;
        display: none;
        cursor: pointer;
    }

    .container .content .back-arrow.showing {
        display: inline-flex;
    }

    /* .container .content .pageHero img {
        max-width: 100%;
        margin-top: -5.9vw;
        border-radius: 1.5vw;
    } */

    .container .content .pageHero {
        width: 100%;
    }

    .container .content .bands {
        margin-top: 15px;
    }

    .container .content .bands .band-item {
        margin-bottom: 24px;
        cursor: pointer;
    }

    .container .content .bands a {
        color: #fff;
        text-decoration: none;
    }

    .container .content .bands .band-item.active {
        cursor: initial;
    }

    /* .container .content .bands .band-item.active {} */

    .container .content .pageHero .about-hero,
    .container .content .bands .band-item .band-hero {
        max-width: 100%;
        margin-top: -1.6vw;
        filter: brightness(0.8);
        border-radius: 1.5vw;
        aspect-ratio: 1;
        background-image: url(https://lukemusic.world/admin/storage/uploads/2022/03/21/loading_uid_6238283e7c30b.gif);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center bottom;
    }

    .container .content .pageHero .about-hero {
        margin-top: -5.4vw;
    }

    /* .container .content .bands .band-item p.band-description, */
    .container .content .bands .band-item .band-details {
        /* display: none; */
        opacity: 0;
        height: 15.5vw;
    }

    .container .content .bands .band-item.active .band-details {
        /* display: block; */
        opacity: 1;
        height: auto;
    }

    .container .content .news-image {
        width: 100%;
        height: auto;
        border-radius: .5em;
        margin-top: -0.9em;
    }

    .container .content .bands .band-hero.is-breaking {
        margin-top: -8.8vw;
    }

    .container .content .bands .band-details ul.band-links {
        list-style-type: none;
        display: flex;
        margin: 0px;
        padding: 0px;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-around;
        margin-top: -13.5vw;
        margin-bottom: 7.5vw;
        position: relative;
        min-height: 8.5vw;;
    }

    .container .content .bands .band-details ul.band-links .band-link-item {
        width: 8.5vw;
        height: 8.5vw;
        display: flex;
        align-items: center;
    }

    .container .content .bands .band-details ul.band-links .band-link-item img {
        max-width: 100%;
        aspect-ratio: 1;
        width: 100%;
        height: auto;
        /* margin-top: 4.25vw; */
    }

    .container .content .bands .band-details audio.band-preview-song {
        /* margin-top: 5.25vw; */
        width: 100%;
    }
    .container .content .bands .band-details .band-preview-song-title {
        font-family: "CentraNo2-Medium";
    }

    .container .content .bands .band-details .band-albums,
    .container .content .bands .band-details .band-gallery {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        width: 100%;
        height: auto;
        -webkit-overflow-scrolling: touch;
        box-sizing: border-box;
        max-width: 87vw;
    }

    .container .content .bands .band-details .band-gallery {
        margin-top: calc(1.75vw + 10px);
    }
    
    .container .content .bands .band-details .band-albums:hover,
    .container .content .bands .band-details .band-gallery:hover {
        cursor: grab;
    }

    .container .content .bands .band-details .band-albums:active
    .container .content .bands .band-details .band-gallery:active {
        cursor: grabbing;
    }

    .container .content .bands .band-details .band-albums::-webkit-scrollbar,
    .container .content .bands .band-details .band-gallery::-webkit-scrollbar {
        display: none;
    }

    .container .content .bands .band-details .band-albums .band-album-item {
        width: 65vw;
        flex: 0 0 auto;
        margin-right: 5.25vw;
    }
    .container .content .bands .band-details .band-gallery .band-gallery-item {
        flex: 0 0 auto;
        margin-right: 5.25vw;
    }

    .container .content .bands .band-details .band-albums .band-album-item .album-title {
        font-family: 'CentraNo2-Medium';
        margin-bottom: -2vw;
        position: relative;
        z-index: 8;
        width: 65vw;
        text-align: left;
    }

    .container .content .bands .band-details .band-albums .band-album-item .album-title.long {
        margin-bottom: -1.87em;
        background: linear-gradient(180deg, rgba(14,14,14,1) 0%, rgba(14,14,14,1) 60%, rgba(14,14,14,0) 100%);
    }

    .container .content .bands .band-details .band-albums .band-album-item .album-image {
        max-width: 100%;
        width: 65vw;
        border-radius: 1.5vw;
        aspect-ratio: 1;
        background-image: url(https://lukemusic.world/admin/storage/uploads/2022/03/21/loading_uid_6238283e7c30b.gif);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center bottom;
    }

    .container .content .bands .band-details .band-gallery .band-gallery-item .gallery-image {
        max-width: 100%;
        height: 75vw;
        border-radius: 1.5vw;
    }

    .container .content p {
        line-height: 140%;
        font-weight: unset;
        font-size: 4.375vw;
        text-align: justify;
        margin: 10px 0;
    }

    .container .content h3 {
        font-family: CentraNo2-Book;
        font-weight: unset;
        font-size: 6.375vw;
        line-height: 85%;
        margin: 6.375vw 0 0 0;
    }

    .container .content .bands h2 {
        font-family: CentraNo2-Medium;
        font-weight: unset;
        font-size: 8.5vw;
        line-height: 85%;
        margin: 0px;
        position: relative;
        z-index: 8;
    }

    .container .content a.button {
        text-decoration: none;
        padding: 0 1.3vw;
        border-bottom: 1px dashed #fff;
        color: #fff;
        /*  background-color: white; */
    }

    .container .content a.button:focus,
    .container .content a.button:hover {
        background-color: #fff;
        color: #0E0E0E;
        font-weight: bold;
    }

    .navigation {
        height: auto;
        /*height: max(10vh, 100px);*/
        /*  244-47 = 197px height for ::after  */
        position: fixed;
        bottom: 0px;
        display: flex;
        background-color: #0E0E0E;
        width: 100%;
        padding-top: 6px;
        z-index: 9;
    }

    .navigation ul.bottom-nav {
        list-style-type: none;
        display: flex;
        margin: 0px;
        padding: 0 20px;
        width: 100%;
        justify-content: space-between;
    }

    .navigation ul.bottom-nav li.nav-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 4.25vw;
        width: 13vw;
    }

    .navigation ul.bottom-nav li.nav-item img {
        height: 40px;
        width: auto;
        z-index: 9;
        aspect-ratio: 1;
    }

    .navigation ul.bottom-nav li.nav-item a {
        color: inherit;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        font-size: 4.25vw;
        width: 13vw;
        height: 100%;
        color: #e7e7e7;
        font-family: 'CentraNo2-Book';
    }

    .navigation ul.bottom-nav li.nav-item .active span {
        color: #0E0E0E;
        position: relative;
        z-index: 9;
        font-weight: bold;
        padding-top: 0.5em;
    }

    .navigation ul.bottom-nav li.nav-item .active svg {
        position: relative;
        z-index: 9;
    }

    .navigation ul.bottom-nav li.nav-item .active svg path {
        fill: #0E0E0E !important;
        /*   stroke: #fff; */
    }

    .navigation ul.bottom-nav li.nav-item a:after {
        content: "";
        display: inline-block;
        position: absolute;
        bottom: 0px;
        width: 20vw;
        height: 20vw;
        background-image: url('data:image/svg+xml;utf8,<svg width="304" height="231" viewBox="0 0 304 231" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="152" cy="152" r="152" fill="white"/></svg>');
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: 20vw;
        overflow: visible;
        opacity: 0;
        transition: all 100ms cubic-bezier(0.550, 0.085, 0.680, 0.530); /* easeInQuad */
        transition-timing-function: cubic-bezier(0.550, 0.085, 0.680, 0.530); /* easeInQuad */
    }

    .navigation ul.bottom-nav li.nav-item .active:after {
        content: "";
        display: inline-block;
        position: absolute;
        bottom: 0px;
        width: 30vw;
        height: 30vw;
        background-image: url('data:image/svg+xml;utf8,<svg width="304" height="231" viewBox="0 0 304 231" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="152" cy="152" r="152" fill="white"/></svg>');
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: clamp(36px, 30vw, 200px);
        overflow: visible;
        opacity: 1;
        
    }

    .navigation ul.bottom-nav li.nav-item svg {
        height: 6vw;
        padding: 0 0 5px 0;
    }

    .navigation ul.bottom-nav li.nav-item .icon-gradient {
        display: none;
    }
    .navigation ul.bottom-nav li.nav-item .icon-gray {
        display: block;
    }

    .navigation ul.bottom-nav li.nav-item a:hover .icon-gradient,
    .navigation ul.bottom-nav li.nav-item a.active .icon-gradient {
        display: block;
    }
    .navigation ul.bottom-nav li.nav-item a:hover .icon-gray,
    .navigation ul.bottom-nav li.nav-item a.active .icon-gray {
        display: none;
    }


    @media screen and (min-width: 1024px) {

        .container .content.shop .bands.bands-detail-page {
            margin-bottom: 3em;
            margin-top: 4.1em;
        }

        .container .content.shop .band-hero-wrap.band-detail-grid-left {
            position: relative;
        }

        .container .content.shop .band-hero-wrap.band-detail-grid-left h2.band-name {
            position: absolute;
            top: -0.68em;
            width: auto;
        }

        .container .content.shop .band-hero-wrap.band-detail-grid-left .band-hero {
            margin-top: 0;
        }

        .container .content.shop .band-detail-grid-right {
            margin-top: 0px;
        }

        .container .content.shop .band-detail-grid-right h3.band-description {
            margin-top: 0px;
        }

        .container .content .bands .band-item > a {
            position: relative;
            display: block;
        }

        .navigation ul.bottom-nav li.nav-item .active span {
            padding: 0;
        }

        .container .content .bands .band-item .band-hero {
            margin-top: clamp(-15px, -1.6vw, -7px);
            }
        .container .content .pageHero .about-hero {
            margin-top: clamp(-50px,-1.6vw,-60px);
        }
        .navigation {
            top: 160px;
            padding: 0;
            overflow: hidden;
            height: 7vh;
        }

        .container .header img#logo {
            transition: width .4s ease-in-out, padding .4s ease-in-out;
        }

        .navigation {
            transition: top .4s ease-in-out;
        }

        .container .header img#logo.scrolled {
            width: clamp(100px, 37vw, 100px);
            padding-bottom: 9px;
            /* padding: 30px; */
        }

        .navigation.scrolled {
            top: 100px;
        }

        .container .header {
            position: fixed;
            top: 0;
            width: 100%;
            display: flex;
            justify-content: center;
            background-color: #0e0e0e;
            z-index: 9;
        }
        .container {
            margin-top: 25vh;
        }

        .container .content {
            width: calc(100% - 15vw);
            padding: 0 7.5vw;
        }

        .container .content .cart-button {
            right: 130px;
            padding: 0;
        }

        .container .content p {
            font-size: clamp(18px, 4.375vw, 30px);
        }

        .container .content h3 {
            font-size: clamp(24px, 6.375vw, 42px);
            margin-top: clamp(24px, 6.375vw, 42px);
        }

        .container .content .bands,
        .container .content .about-section {
                width: 100%;
                display: grid;
                grid-template-columns: 1fr 1fr; 
                grid-template-rows: 1fr; 
                gap: 0px 30px; 
                grid-template-areas: 
                    ". ."; 
                align-items: flex-start;
        }

        .container .content .back-arrow {
            max-width: 60px;
            margin-right: clamp(5px, 4.25vw, 30px);
        }

        .navigation ul.bottom-nav li.nav-item a {
            flex-direction: row;
            justify-content: center;
            width: 25vw;
            font-size: clamp(18px,4.25vw,25px);
        }
        .navigation ul.bottom-nav li.nav-item {
            width: 25vw;
        }
        .navigation ul.bottom-nav li.nav-item img {
            padding-right: 1vw;
        }
        .navigation ul.bottom-nav {
            padding: 0;
        }

        .navigation ul.bottom-nav li.nav-item a:after {
            height: 3vh;
            width: 6vw;
            background-size: 10vw;
            bottom: 20px;
        }

        .navigation ul.bottom-nav li.nav-item .active:after {
            background-size: 20vw;
            border-radius: .5em;
        }

        .container .content .pageTitle h1 {
            font-size: clamp(24px, 14vw, 126px);
        }
        .container .content .bands .band-item h2 {
            font-size: clamp(18px, 8.5vw, 84px);
        }
        .container .content .bands .band-item:not(.active) h2 {
            font-size: clamp(18px, 8.5vw, 84px);
            position: absolute;
            width: auto;
            top: -0.68em;
        }

        .container .content .bands .band-item:not(.active) {
            margin-top: 4em;
            margin-bottom: 3em;
        }

        .container .content .bands.bands-detail-page {
            display: flex;
        }

        .desktop-wrap {
            display: grid;
            gap: 0 30px;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            width: 100%;
            grid-template-areas:
                "band-detail-grid-left band-detail-grid-right"
                "band-detail-grid-bottom band-detail-grid-bottom";
        }

        .band-detail-grid-left {
            grid-area: band-detail-grid-left;
        }
        .band-detail-grid-right {
            grid-area: band-detail-grid-right;
            margin-top: 38px;
        }
        .band-detail-grid-bottom {
            grid-area: band-detail-grid-bottom;
        }

        .container .content .bands .band-details ul.band-links {
            margin: -9.5vw 0 1.5vw;
        }

        .container .content .bands .band-details .band-albums .band-album-item .album-title.long {
            margin-bottom: -1.9em;
            width: 100%;
        }

        .container .content .bands .band-details ul.band-links .band-link-item {
            justify-content: center;
        }

        .container .content .bands .band-details ul.band-links .band-link-item img {
            max-width: 60px;
        }

        .container .content .bands .band-details .band-albums .band-album-item {
            margin-right: 2.5vw;
            width: 33vw;
        }

        .container .content .bands .band-details .band-gallery .band-gallery-item .gallery-image {
            height: 33vw;
        }

        .container .content .bands .band-details .band-gallery .band-gallery-item {
            margin-right: 2.5vw;
        }

        .container .content .bands .band-details .band-albums, .container .content .bands .band-details .band-gallery {
            max-width: 95vw;
        }
        .container .content .bands .band-details .band-albums .band-album-item .album-title {
            margin-bottom: -0.45em;
        }

        .navigation ul.bottom-nav li.nav-item .active:after {
                height: 7vh;
                opacity: 1;
                width: 14vw;
        }
        .about-section .pageText {
            margin-top: 95px;
        }

        .container .content a.button {
            padding: 0 0.3em;
        }

        /* snipcart desktop */
        .snipcart-layout__col {
            width: 50%;
        }

        .snipcart-layout__col:first-child {
            padding-left: 1.5em;
            padding-right: 1em;
        }

        .snipcart-layout__col:last-child {
            /* width: 45%; */
            padding-left: 1em;
        }

        .snipcart-cart-summary {
            padding-right: 1em;
        }

        .snipcart-cart-summary__separator {
            width: unset;
            margin-left: 0;
            margin-right: 0;
        }

        .snipcart-checkout-step__cols {
            flex-direction: column;
        }

        .snipcart-checkout-step__col {
            width: auto;
        }

        .snipcart-checkout-step__col:not(:last-child) {
            margin-bottom: 16px;
        }

        .snipcart__box--badge {
            margin-top: -15px;
        }

        .snipcart-payment-form {
            max-width: calc(100% - 1px);
        }
        .snipcart-item-line__title {
            font-size: .75em;
        }
        .snipcart-cart__footer {
            flex-direction: column;
        }
        .snipcart-cart__footer-col {
            width: 100%;
        }
        .snipcart .snipcart-summary-fees__notice {
            font-size: .75em;
        }
        .snipcart .snipcart-item-quantity__quantity span.snipcart__font--secondary {
            padding: 0 0.5em;
        }
        .snipcart-form__field {
            padding: 0.5em 0;
        }
    }



    @media screen and (min-width: 1024px) and (max-width: 1440px) {
        .navigation ul.bottom-nav li.nav-item .active:after {
            width: 14vw;
            background-color: #fff;
        }
    }

    @media screen and (min-width: 1440px) {
        .navigation ul.bottom-nav li.nav-item .active:after {
            width: 10vw;
        }
    }

    @media screen and (min-width: 1024px) and (max-width: 1067px) {
        .container .content .bands .band-details .band-albums .band-album-item .album-title.long {
            margin-bottom: -3.3em;
        }
    }

    @media screen and (max-width: 960px) {
        .container .content .bands.news .band-item.active h2.band-name {
            margin-bottom: -0.177em;
        }

        .container .content .news-image {
            margin-top: 0;
        }
    }

    @media screen and (min-width: 824px) {
        svg.snipcart-payment-methods-list-item__icon.snipcart__icon {
            height: 50px;
            margin-bottom: -10px;
            margin-top: -5px;
        }
    }

    @media (min-width: 768px) {
        .snipcart-modal__close-title {
            display: none;
        }
        .snipcart-cart-header {
            width: 100%;
        }

        .snipcart-layout__content {
            width: 100%;
        }

        .snipcart * {
            font-size: min(36px, 4.375vw);
        }

        .snipcart__font--std {
            line-height: unset;
            font-size: .75em;
        }
    }

    @media screen and (max-width: 505px) {
        .navigation ul.bottom-nav li.nav-item a span {
            padding-top: 0.25em;
            padding-bottom: 0.124em;
        }
        .container .content .bands .band-details .band-gallery,
        .container .content .bands .band-details .band-albums {
            max-width: 86vw;
        }

        .container .content .bands .band-details .band-gallery .band-gallery-item .gallery-image {
            height: 75vw;
        }
        .container .content .bands .band-details .band-albums .band-album-item,
        .container .content .bands .band-details .band-albums .band-album-item .album-image,
        .container .content .bands .band-details .band-albums .band-album-item .album-title {
            width: 55vw;
        }

    }

    @media screen and (max-width: 470px) {
        .container .content .bands .band-details .band-gallery,
        .container .content .bands .band-details .band-albums {
            max-width: 83vw;
        }
    }

    @media screen and (max-width: 390px) {
        .container .content .bands .band-details .band-gallery,
        .container .content .bands .band-details .band-albums {
            max-width: 79vw;
        }
    }

    @media screen and (max-width: 280px) {
        .container .content .bands .band-details .band-gallery,
        .container .content .bands .band-details .band-albums {
            max-width: 75vw;
        }

        .navigation {
            height: 60px;
        }

        .navigation ul.bottom-nav li.nav-item img {
            height: 30px;
        }
    }

    @media screen and (max-width: 240px) {
        .container .content .bands .band-details .band-gallery,
        .container .content .bands .band-details .band-albums {
            max-width: 70vw;
        }

        .container .content .bands .band-details .band-gallery .band-gallery-item .gallery-image
        {
            height: 75vw;
        }

        .container .content .bands .band-details .band-albums .band-album-item,
        .container .content .bands .band-details .band-albums .band-album-item .album-image,
        .container .content .bands .band-details .band-albums .band-album-item .album-title {
            width: 35vw;
        }
    }

    @media screen and (max-width: 200px) {
        .container .content .bands .band-details .band-gallery,
        .container .content .bands .band-details .band-albums {
            max-width: 60vw;
        }
    }

    .resize-animation-stopper * {
        animation: none !important;
        transition: none !important;
    }


    ::-webkit-scrollbar {
        background-color: #0E0E0E;
        color: #c5c1b9;
        width: 7px;
    }

    ::-webkit-scrollbar-corner {
        background-color: #0E0E0E;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #fff;
        border-radius: 100px;
    }

    ::-webkit-scrollbar-track {
        background: #0E0E0E;
    }
</style>
<script setup>
if (typeof window !== 'undefined') {
    let logo = document.getElementById("logo");
    let navigation = document.getElementById("nav");
    // let resizeTimer;

    // remove transitions during window resize (does not really work atm...)
    // window.addEventListener("resize", () => {
    //     console.log("resizing")
    //     document.body.classList.add("resize-animation-stopper");
    //     clearTimeout(resizeTimer);
    //     resizeTimer = setTimeout(() => {
    //         document.body.classList.remove("resize-animation-stopper");
    //     }, 400);
    // });

    // add scrolled class to header and nav after ...px scrolled
    window.onscroll = function() {scrollFunction()};
    function scrollFunction() {
        if (document.body.scrollTop > 65 || document.documentElement.scrollTop > 65) {
            logo.classList.add("scrolled")
            navigation.classList.add("scrolled")
        } else {
            logo.classList.remove("scrolled")
            navigation.classList.remove("scrolled")
        }
    }

    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-RLTMEEG1FS');
}
    const route = useRoute()
    console.log(route.meta.title)
</script>