<template>
    <div class="content">
        <div class="pageTitle">
            <h1>Shop</h1>
            <button class="cart-button snipcart-checkout">
                <img src="/icons/bag-front-clay.png" alt="">
                <!-- <svg width="81" height="62" viewBox="0 0 81 62" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M77.9323 13.088C77.4767 12.4314 76.7273 12.0397 75.9269 12.0397H21.7909L19.0574 2.79168C18.7509 1.75618 17.8039 1.04598 16.7242 1.04258L3.44991 1H3.4414C2.09592 1 1.00503 2.08915 1.00002 3.43288C0.994909 4.78091 2.08491 5.87863 3.4329 5.88277L14.889 5.91938L24.7875 39.3977C24.7671 39.5245 24.7484 39.6548 24.7484 39.7885V51.0981C24.7484 52.4462 25.8426 53.5395 27.1897 53.5395H64.0514C65.3994 53.5395 66.4928 52.4453 66.4928 51.0981C66.4928 49.7501 65.3985 48.6568 64.0514 48.6568L29.6313 48.6559V42.2299H66.4864C67.5058 42.2299 68.4178 41.5964 68.7746 40.6418L78.2142 15.3341C78.4926 14.5848 78.3879 13.7443 77.9315 13.0876L77.9323 13.088ZM64.791 37.347H29.2745L23.2361 16.923H72.4104L64.791 37.347ZM31.001 56.1172H30.6936C29.3456 56.1172 28.2522 57.2115 28.2522 58.5586C28.2522 59.9066 29.3465 61 30.6936 61H31.001C32.349 61 33.4424 59.9057 33.4424 58.5586C33.4424 57.2106 32.3482 56.1172 31.001 56.1172ZM58.711 56.1172H58.4062C57.0581 56.1172 55.9648 57.2115 55.9648 58.5586C55.9648 59.9066 57.059 61 58.4062 61H58.711C60.059 61 61.1524 59.9057 61.1524 58.5586C61.1524 57.2106 60.059 56.1172 58.711 56.1172Z" fill="white" stroke="#0E0E0E" stroke-width="2"></path></svg> -->
            </button>
        </div>
        <div class="bands">
            <div class="band-item" v-for="album in albumsArray" :key="album.AlbumTitle">
                <NuxtLink :to="`/legacy-shop/${album.AlbumTitle}`">
                    <h2 class="band-name">
                        {{ album.AlbumTitle }}
                    </h2>
                    <div class="band-hero"
                        :style='{backgroundImage:`url(https://lukemusic.world${album.AlbumImage.path})`}'>
                    </div>
                </NuxtLink>
            </div>
        </div>
    </div>
</template>
<script setup>
    const { data: albums } = await useFetch("https://lukemusic.world/admin/api/collections/get/Albums?simple=true&filter[AlbumIsForSale]=true");
    let albumsArray = albums.value
    definePageMeta({
        title: 'Shop',
        description: "Support Luke by purchasing his albums"
    })
</script>