<template>
    <div class="content shop">
        <div class="pageTitle">
            <NuxtLink to="/shop">
                <img class="back-arrow showing"
                    src='data:image/svg+xml;utf8,<svg width="92" height="78" viewBox="0 0 92 78" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M41.7427 76.8104C43.3262 75.2222 43.3262 72.6485 41.7427 71.0617L13.8276 43.0598L87.9468 43.0598C90.1848 43.0598 92 41.2377 92 38.9944C92 36.7497 90.1833 34.929 87.9468 34.929L50.898 34.929L13.8493 34.929L41.7503 6.93985C43.3338 5.35166 43.3338 2.77788 41.7503 1.19114C40.1669 -0.39705 37.6008 -0.39705 36.0188 1.19114L1.25966 36.0591C0.848257 36.4533 0.520247 36.9312 0.301131 37.4672C0.285582 37.5083 0.277098 37.548 0.262961 37.5906C0.188032 37.7933 0.12158 37.9975 0.0763381 38.2145C0.0395872 38.396 0.0339262 38.5804 0.0240309 38.7633C0.0183775 38.8398 -1.70097e-06 38.9136 -1.70444e-06 38.993L-1.70469e-06 38.9987L-1.70493e-06 39.0043C-1.71665e-06 39.2723 0.0310957 39.5432 0.0805799 39.8069C0.0862409 39.8353 0.0989591 39.8594 0.10462 39.8878C0.267203 40.6152 0.622069 41.3115 1.18758 41.8773L36.0119 76.8062C37.5953 78.3972 40.1585 78.3972 41.7419 76.8105L41.7427 76.8104Z" fill="white"/></svg>'
                    alt="">
            </NuxtLink>
            <h1>Shop</h1>
            <button class="cart-button snipcart-checkout">
                <img src="/icons/bag-front-clay.png" alt="">
                <!-- <svg width="81" height="62" viewBox="0 0 81 62" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M77.9323 13.088C77.4767 12.4314 76.7273 12.0397 75.9269 12.0397H21.7909L19.0574 2.79168C18.7509 1.75618 17.8039 1.04598 16.7242 1.04258L3.44991 1H3.4414C2.09592 1 1.00503 2.08915 1.00002 3.43288C0.994909 4.78091 2.08491 5.87863 3.4329 5.88277L14.889 5.91938L24.7875 39.3977C24.7671 39.5245 24.7484 39.6548 24.7484 39.7885V51.0981C24.7484 52.4462 25.8426 53.5395 27.1897 53.5395H64.0514C65.3994 53.5395 66.4928 52.4453 66.4928 51.0981C66.4928 49.7501 65.3985 48.6568 64.0514 48.6568L29.6313 48.6559V42.2299H66.4864C67.5058 42.2299 68.4178 41.5964 68.7746 40.6418L78.2142 15.3341C78.4926 14.5848 78.3879 13.7443 77.9315 13.0876L77.9323 13.088ZM64.791 37.347H29.2745L23.2361 16.923H72.4104L64.791 37.347ZM31.001 56.1172H30.6936C29.3456 56.1172 28.2522 57.2115 28.2522 58.5586C28.2522 59.9066 29.3465 61 30.6936 61H31.001C32.349 61 33.4424 59.9057 33.4424 58.5586C33.4424 57.2106 32.3482 56.1172 31.001 56.1172ZM58.711 56.1172H58.4062C57.0581 56.1172 55.9648 57.2115 55.9648 58.5586C55.9648 59.9066 57.059 61 58.4062 61H58.711C60.059 61 61.1524 59.9057 61.1524 58.5586C61.1524 57.2106 60.059 56.1172 58.711 56.1172Z" fill="white" stroke="#0E0E0E" stroke-width="2"></path></svg> -->
            </button>
        </div>
        <div class="bands bands-detail-page">
            <div class="band-item active">
                <div class="desktop-wrap">
                    <div class="band-hero-wrap band-detail-grid-left">
                        <h2 class="band-name">
                            {{ activeShopItemObject.Title }}
                        </h2>
                        <div class="band-hero" :style='{backgroundImage:`url(https://lukemusic.world/admin/storage/uploads/${activeShopItemObject.Image.path})`}'>
                        </div>
                    </div>
                    <div class="band-details band-detail-grid-right">
                        <!-- <ul class="band-links" :class="cleanMusicLinks">
                            <li class="band-link-item" v-for="(value, name) in cleanMusicLinks">
                                <NuxtLink :to="value" target="_blank">
                                    <img src="https://johnnyvetterli.com/2022/lukemusicworld/demo/img/Apple_Music_Icon_wht_sm_073120.svg" :alt="name" v-if="name == 'AppleMusic'">
                                    <img src="https://johnnyvetterli.com/2022/lukemusicworld/demo/img/Spotify_Logo_CMYK_White.png" :alt="name" v-else-if="name == 'Spotify'">
                                    <img src="https://johnnyvetterli.com/2022/lukemusicworld/demo/img/yt_icon_mono_dark.png" :alt="name" v-else-if="name == 'Youtube'">
                                    <img src="https://johnnyvetterli.com/2022/lukemusicworld/demo/img/sc-logo-cloud-raven.svg" :alt="name" v-else-if="name == 'SoundCloud'">
                                </NuxtLink>
                            </li>
                        </ul> -->
                        <h3 class="band-description">
                            CHF {{ activeShopItemObject.Price }} .-
                        </h3>
                        <p class="band-description" v-if="activeShopItemObject.unlimitedStock">
                            Stock: unlimited
                        </p>
                        <p class="band-description" v-else>
                            Stock: {{ activeShopItemObject.Stock }}
                        </p>
                        <p class="band-description">
                            Release Date: {{ activeShopItemObject.ReleaseDate }}
                        </p>
                        <p class="band-description">
                            {{ activeShopItemObject.Details }}
                            <button
                                class="snipcart-add-item"
                                :data-item-id="activeShopItemObject.Title"
                                :data-item-price="activeShopItemObject.Price"
                                :data-item-name="activeShopItemObject.Title"
                                :data-item-image="baseURL + activeShopItemObject.Image.path"
                                :data-item-url="`/shop/${route.params.Title}`"
                            >
                            <!-- data-item-file-guid="3c5b1a21-ffc1-4a24-a5c4-2262b7bc1089" -->
                                Buy now
                            </button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script setup>
    useHead({
                script: { src: 'https://cdn.snipcart.com/themes/v3.3.3/default/snipcart.js', async: true, defer: true },
                link: { rel: 'stylesheet', href: "https://cdn.snipcart.com/themes/v3.3.3/default/snipcart.css" }
    })
let baseURL = "https://lukemusic.world/admin/storage/uploads/"
const route = useRoute();
const { data: activeShopItem } = await useFetch("https://lukemusic.world/admin/api/collections/get/Shop?simple=true&filter[ShowInShop]=true&filter[Title]=" + route.params.Title);
let activeShopItemObject = activeShopItem.value[0]
let streamingPlatforms = activeShopItemObject.MusicLinks

console.log(route.params)

// https://stackoverflow.com/questions/286141/remove-blank-attributes-from-an-object-in-javascript
// function removeEmpty(bandObj) {
//     return Object.fromEntries(
//         Object.entries(bandObj)
//       .filter(([_, v]) => v != null)
//       .map(([k, v]) => [k, v === Object(v) ? removeEmpty(v) : v])
//   );
  
// }
// removeEmpty(bandObj);
// console.log(bandObj)

// let cleanMusicLinks = Object.fromEntries(Object.entries(streamingPlatforms).filter(([_, v]) => v != null));

definePageMeta({
  title: "Shop",
  description: "Support Luke by purchasing his albums"
})
</script>