<template>
    <div class="header">
        <NuxtLink to="/" activeClass="active" class="homeLink">
            <img src="/logo-final.png"
            alt="lukemusicworld logo" id="logo" aria-hidden="true">
        </NuxtLink>
    </div>
</template>