<template>
    <nav class="navigation" id="nav">
        <ul class="bottom-nav">
            <li class="nav-item">
                <NuxtLink to="/" activeClass="active" class="homeLink">
                    <!-- <svg width="56" height="62" viewBox="0 0 56 62" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M55.0085 27.0864L29.3701 1.44803C28.7727 0.850658 27.8047 0.850658 27.2078 1.44803L1.44795 27.2079C1.0106 27.6453 0.879917 28.3029 1.1162 28.8741C1.35302 29.4459 1.91091 29.8182 2.52913 29.8182H9.93339V59.4709C9.93339 60.3152 10.6188 61 11.4625 61H45.1155C45.9598 61 46.6447 60.3146 46.6447 59.4709V29.8182H54.0473H54.0627C54.9076 29.8182 55.5919 29.1328 55.5919 28.2891C55.5924 27.8016 55.3632 27.3675 55.0085 27.0864ZM43.5859 57.942C25.1053 57.942 26.2169 57.942 12.9917 57.942L12.9915 26.7601H43.5859V57.942ZM6.22089 26.7601L28.2887 4.69225L50.3565 26.7601H6.22089Z"
                            fill="white" stroke="#0E0E0E" stroke-width="0.7" />
                    </svg> -->
                    <img src="/icons/front/clay/500x500/sphere-front-clay.png" alt="" class="icon-gray">
                    <img src="/icons/front/gradient/500x500/sphere-front-gradient.png" alt="" class="icon-gradient">
                    <span>Home</span>
                </NuxtLink>
            </li>
            <li class="nav-item">
                <NuxtLink to="/about" activeClass="active" class="aboutLink">
                    <!-- <svg width="52" height="62" viewBox="0 0 52 62" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M51.0897 54.1094C49.9145 43.3515 40.5758 36.9298 26.1075 36.9298C12.1695 36.9298 3.14131 42.6466 1.34007 52.6205C1.09995 53.9822 1 56.6235 1 57.7363C1 58.7981 1.8619 59.6593 2.92298 59.6593C3.98477 59.6593 4.84596 58.7974 4.84596 57.7363C4.84596 56.5739 4.9553 54.2652 5.127 53.2986C7.09566 42.4031 19.1167 40.7772 26.1083 40.7772C32.0182 40.7772 45.9116 42.1173 47.2664 54.52C47.2905 54.789 47.3315 56.449 47.3657 59.0999C47.3791 60.1536 48.237 61 49.288 61H49.3121C50.3739 60.9866 51.2244 60.1153 51.2123 59.0535C51.1861 57.0775 51.1452 54.6193 51.0895 54.1101L51.0897 54.1094ZM26.1075 32.6697C33.8165 32.6697 40.0878 25.15 40.0878 15.9072C40.0878 7.12988 34.339 1 26.1075 1C17.8761 1 12.1272 7.12988 12.1272 15.9072C12.1272 25.15 18.3986 32.6697 26.1075 32.6697ZM26.1075 4.84751C32.1691 4.84751 36.2419 9.29326 36.2419 15.9087C36.2419 23.0301 31.6955 28.8246 26.1075 28.8246C20.5196 28.8246 15.9732 23.0314 15.9732 15.9087C15.9739 9.29188 20.046 4.84751 26.1075 4.84751Z"
                            fill="white" stroke="#0E0E0E" />
                    </svg> -->
                    <img src="/icons/front/clay/500x500/notebook-front-clay.png" alt="" class="icon-gray">
                    <img src="/icons/front/gradient/500x500/notebook-front-gradient.png" alt="" class="icon-gradient">
                    <span>About</span>
                </NuxtLink>
            </li>
            <li class="nav-item">
                <NuxtLink to="/bands" activeClass="active" class="bandsLink">
                    <!-- <svg width="68" height="62" viewBox="0 0 68 62" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M66.7785 1.46224C66.4044 1.13244 65.9093 0.97926 65.4078 1.04699L23.7528 6.5606C22.8916 6.6751 22.2466 7.41046 22.2466 8.27966V51.5014C22.2466 55.0743 16.4516 57.5641 11.2516 57.5641C9.19627 57.5641 7.39342 57.1714 6.17329 56.4554C5.01059 55.7732 4.46793 54.8927 4.46793 53.6848C4.46793 52.1601 4.96625 50.9523 5.99026 49.9943C8.70362 47.4593 14.5033 47.256 16.5078 47.3842C17.4375 47.4624 18.289 46.7278 18.3551 45.7715C18.4196 44.8168 17.6996 43.9904 16.7449 43.9243C16.3877 43.8985 8.00271 43.3703 3.62852 47.4544C1.88446 49.0824 1 51.1788 1 53.6849C1 56.1087 2.21351 58.1551 4.41807 59.4468C6.18632 60.4838 8.54806 61.0312 11.2501 61.0312C18.2053 61.0312 25.7129 57.3876 25.7129 51.5006L25.7137 23.7189L63.9009 18.6608V45.9863C63.9009 49.5592 58.1084 52.0482 52.91 52.0482C50.8555 52.0482 49.0519 51.6539 47.8317 50.9395C46.669 50.2574 46.1264 49.3752 46.1264 48.1673C46.1264 46.6426 46.6247 45.4356 47.6487 44.4776C50.3596 41.9426 56.1601 41.7378 58.1624 41.866C59.0961 41.9458 59.9435 41.2105 60.0096 40.2534C60.0741 39.2987 59.3541 38.4722 58.3994 38.4061C58.043 38.3803 49.6597 37.8522 45.2863 41.9377C43.5423 43.5657 42.6586 45.6613 42.6586 48.1674C42.6586 50.5911 43.8722 52.6384 46.0767 53.931C47.845 54.9679 50.2067 55.5154 52.9087 55.5154C59.8631 55.5154 67.3668 51.8731 67.3668 45.9855L67.3676 2.76378C67.3708 2.26305 67.1564 1.78813 66.779 1.45997L66.7785 1.46224ZM25.716 20.2212V9.79799L63.9031 4.74407V15.1626L25.716 20.2212Z"
                            fill="white" stroke="#0E0E0E" />
                    </svg> -->
                    <img src="/icons/front/clay/500x500/headphone-front-clay.png" alt="" class="icon-gray">
                    <img src="/icons/front/gradient/500x500/headphone-front-gradient.png" alt="" class="icon-gradient">
                    <span>Bands</span>
                </NuxtLink>
            </li>
            <li class="nav-item">
                <NuxtLink to="/shop" activeClass="active" class="shopLink">
                    <!-- <svg width="81" height="62" viewBox="0 0 81 62" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M77.9323 13.088C77.4767 12.4314 76.7273 12.0397 75.9269 12.0397H21.7909L19.0574 2.79168C18.7509 1.75618 17.8039 1.04598 16.7242 1.04258L3.44991 1H3.4414C2.09592 1 1.00503 2.08915 1.00002 3.43288C0.994909 4.78091 2.08491 5.87863 3.4329 5.88277L14.889 5.91938L24.7875 39.3977C24.7671 39.5245 24.7484 39.6548 24.7484 39.7885V51.0981C24.7484 52.4462 25.8426 53.5395 27.1897 53.5395H64.0514C65.3994 53.5395 66.4928 52.4453 66.4928 51.0981C66.4928 49.7501 65.3985 48.6568 64.0514 48.6568L29.6313 48.6559V42.2299H66.4864C67.5058 42.2299 68.4178 41.5964 68.7746 40.6418L78.2142 15.3341C78.4926 14.5848 78.3879 13.7443 77.9315 13.0876L77.9323 13.088ZM64.791 37.347H29.2745L23.2361 16.923H72.4104L64.791 37.347ZM31.001 56.1172H30.6936C29.3456 56.1172 28.2522 57.2115 28.2522 58.5586C28.2522 59.9066 29.3465 61 30.6936 61H31.001C32.349 61 33.4424 59.9057 33.4424 58.5586C33.4424 57.2106 32.3482 56.1172 31.001 56.1172ZM58.711 56.1172H58.4062C57.0581 56.1172 55.9648 57.2115 55.9648 58.5586C55.9648 59.9066 57.059 61 58.4062 61H58.711C60.059 61 61.1524 59.9057 61.1524 58.5586C61.1524 57.2106 60.059 56.1172 58.711 56.1172Z"
                            fill="white" stroke="#0E0E0E" stroke-width="2" />
                    </svg> -->
                    <img src="/icons/front/clay/500x500/bag-front-clay.png" alt="" class="icon-gray">
                    <img src="/icons/front/gradient/500x500/bag-front-gradient.png" alt="" class="icon-gradient">
                    <span>Shop</span>
                </NuxtLink>
            </li>
        </ul>
    </nav>
</template>