<template>
    <div class="content">
        <div class="about-section">
            <div class="intro-wrap">
                <div class="pageTitle">
                    <h1>About</h1>
                </div>
                <div class="pageHero">
                    <!-- <img src="https://johnnyvetterli.com/2022/lukemusicworld/img/luk-square.PNG" alt=""> -->
                    <div class="about-hero" :style='{backgroundImage:`url(https://lukemusic.world${aboutData.photo.path})`}'></div>
                </div>
            </div>
            <div class="pageText">
                <p>{{ aboutData.description }}</p>
                <h3>
                    Get in touch
                </h3>
                <p>Please contact me on <a href="https://instagram.com/luke.music.world" class="button" target="_blank">Instagram</a> or shoot me an Email via
                    hello@lukemusic.world </p>
            </div>
        </div>
    </div>
</template>
<script setup>
let baseURL = "https://lukemusic.world/"
const { data: about } = await useFetch(baseURL + "admin/api/singletons/get/Info");
let aboutData = about.value


definePageMeta({
    title: 'About',
    description: "Find out more about Luke"
})
</script>