<template>
    <div class="content">
        <div class="pageTitle">
            <img class="back-arrow"
                src='data:image/svg+xml;utf8,<svg width="92" height="78" viewBox="0 0 92 78" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M41.7427 76.8104C43.3262 75.2222 43.3262 72.6485 41.7427 71.0617L13.8276 43.0598L87.9468 43.0598C90.1848 43.0598 92 41.2377 92 38.9944C92 36.7497 90.1833 34.929 87.9468 34.929L50.898 34.929L13.8493 34.929L41.7503 6.93985C43.3338 5.35166 43.3338 2.77788 41.7503 1.19114C40.1669 -0.39705 37.6008 -0.39705 36.0188 1.19114L1.25966 36.0591C0.848257 36.4533 0.520247 36.9312 0.301131 37.4672C0.285582 37.5083 0.277098 37.548 0.262961 37.5906C0.188032 37.7933 0.12158 37.9975 0.0763381 38.2145C0.0395872 38.396 0.0339262 38.5804 0.0240309 38.7633C0.0183775 38.8398 -1.70097e-06 38.9136 -1.70444e-06 38.993L-1.70469e-06 38.9987L-1.70493e-06 39.0043C-1.71665e-06 39.2723 0.0310957 39.5432 0.0805799 39.8069C0.0862409 39.8353 0.0989591 39.8594 0.10462 39.8878C0.267203 40.6152 0.622069 41.3115 1.18758 41.8773L36.0119 76.8062C37.5953 78.3972 40.1585 78.3972 41.7419 76.8105L41.7427 76.8104Z" fill="white"/></svg>'
                alt="">
            <h1>Home</h1>
        </div>
        <div class="bands news">
            <div class="band-item active" v-for="newsItem in newsObj" :key="newsItem._id">
                <h2 class="band-name">
                    {{ newsItem.Title }}
                </h2>
                <!-- <div class="band-hero" :style='{backgroundImage:`url(https://lukemusic.world/admin/storage/uploads${news.Image.path})`}' style="background-position-y:center;"> -->
                <img :src="`https://lukemusic.world/admin/storage/uploads${newsItem.Image.path}`" alt="" class="news-image gallery-image">
                <!-- </div> -->
                <div class="band-details">
                    <div class="band-description" v-html="newsItem.Details"></div>
                    <!-- <p class="band-description" 
                        style="max-width: 80vw; font-family: monospace; text-align: left; line-break: anywhere; padding-right: 0px;">
                        {{ cleanMusicLinks }}
                    </p>
                    <p class="band-description" 
                        style="max-width: 80vw; font-family: monospace; text-align: left; line-break: anywhere; padding-right: 0px;">
                        {{ bandObj.MusicLinks }}
                    </p> -->
                    <h3 v-if="newsItem.Date">When?</h3>
                    <p v-if="newsItem.Date">{{ newsItem.Date }} at <span v-if="newsItem.Time">{{ newsItem.Time }}</span></p>
                    <h3 v-if="newsItem.Location">Where?</h3>
                    <p v-if="newsItem.Location"><a class="button" :href="newsItem.Location.GoogleMaps" target="_blank">Get directions to {{ newsItem.Location.Name }}</a></p>
                </div>
            </div>
        </div>
    </div>
</template>
<script setup>

let baseURL = "https://lukemusic.world/"
const route = useRoute();
const { data: news } = await useFetch("https://lukemusic.world/admin/api/collections/get/News?simple=true&filter[ShowOnHome]=true");
// console.log(band.value.flat(1));
// let newsObj = news.value[0]
let newsObj = news.value


// https://stackoverflow.com/questions/286141/remove-blank-attributes-from-an-object-in-javascript
function removeEmpty(newsObj) {
    return Object.fromEntries(
        Object.entries(newsObj)
      .filter(([_, v]) => v != null)
      .map(([k, v]) => [k, v === Object(v) ? removeEmpty(v) : v])
  );
  
}
removeEmpty(newsObj);
console.log(newsObj)

let dateRegex = /(\d{4})-(\d{1,2})-(\d{1,2})/gm
let subst = `$2.$3.$1`;

// TODO: create method 
// let firstNewsItemDate = newsObj[0].Date
// console.log(firstNewsItemDate)

// const newDate = computed(() => firstNewsItemDate.replace(dateRegex, subst))
// console.log(newDate.value)
// let cleanMusicLinks = Object.fromEntries(Object.entries(streamingPlatforms).filter(([_, v]) => v != null));
    definePageMeta({
        title: 'Home',
        description: "Checkout the latest news around Luke Music World"
    })
</script>